body {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 16px;
    background-color: #E8DBC5;
	overflow-x: hidden;
}


header {
    display: flex;
	flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}

nav ul {
    display: flex;
	flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-family:         verdana, "sans serif"; 
    font-size: clamp(24px, 5vw, 36px);
    color:                 #688B58;
}

.image {
    border-radius:         40px;
}

h2 {
    font-family:         verdana, "sans serif"; 
    font-size:             26px;
}

table {
	background-color:	#D8CFAF;
}

p {
    border:                3px solid #AA78A6;
    border-radius:        40px;
    padding:            20px;
}

.content {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.box {
    background-color: lightblue;
    padding: 20px;
    flex: 1;
    max-width: 300px;
}

.perus_fontti {
    font-family:         verdana, "sans serif";
}
/*Linkki jutut tästä alas*/
a:link {
  color:                 #9A031E;
  text-decoration:         none;
}

a:visited {
  color:                 #558C8C;
  text-decoration:         none;
  
}

a:hover {
  color:                 purple;
  text-decoration:         none;
}

a:active {
  color:                 #083D77;
  text-decoration:         none;
}

/*Footer ja queryt*/

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    margin-top: 20px;
	text-align: center;
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 1170px) {
    .contenthead {
        flex-direction: column;
        align-items: center;
    }
}